* {
  margin: 0%;
  background: rgb(217, 214, 214);
}

.BG-pic {
  width: 100%;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1803411155/photo/industrial-brick-living-room-interior-design-with-christmas-tree-and-gift-boxes-new-year.jpg?s=2048x2048&w=is&k=20&c=Cr9bNoo6SbkMvOMlZMCOw5R2UtMiERapbOQs45cInis=);
  /*背景固定*/
  background-attachment: fixed;
  /*背景尺寸*/
  background-size: cover;
  /*圖片顯示於區塊中的方位*/
  background-position: center;
  position: relative;
}

.topic {
  color: rgb(13, 99, 9);
  font-size: 40px;
  background: rgb(217, 214, 214);
  width: 300px;
  height: 50px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.content {
  width: 80%;
  margin: 0 auto;
}
.area {
  display: flex;
}
.area1 {
  width: 50%;
  margin: 40px 10px;
}
.image {
  width: 100%;
}
.title {
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 50px;
}
.txt {
  font-size: 20px;
  line-height: 30px;
}
.video {
  text-align: center;
}

.fa-heart {
  color: red;
}
.fa-tree {
  color: green;
  font-size: 40px;
}
